body {
  background: #1a1e23;
  margin: 0;
}

$bubble-count: 50;
$sway-type: "sway-left-to-right", "sway-right-to-left";

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

@function sample($list) {
  @return nth($list, random(length($list)));
}

.bubbles {
  position: fixed; /* Fixed position to remain in the background */
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire viewport width */
  height: 100vh; /* Cover the entire viewport height */
  overflow: hidden;
  z-index: -1; /* Set a lower z-index to render behind the app content */
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: -75%;
  display: block;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(183, 94%, 76%, 0.3);
    border-radius: inherit;
    animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay)
      ease-in-out alternate infinite;
  }

  @for $i from 0 through $bubble-count {
    &:nth-child(#{$i}) {
      --bubble-left-offset: #{random_range(0vw, 100vw)};
      --bubble-radius: #{random_range(1vw, 10vw)};
      --bubble-float-duration: #{random_range(6s, 12s)};
      --bubble-sway-duration: #{random_range(4s, 6s)};
      --bubble-float-delay: #{random_range(0s, 4s)};
      --bubble-sway-delay: #{random_range(0s, 4s)};
      --bubble-sway-type: #{sample($sway-type)};
    }
  }
}

@keyframes float-up {
  to {
    transform: translateY(-175vh);
  }
}

@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.pomodoro {
  text-align: center;
  font-family: "Arial", sans-serif;
  z-index: 1;
}

/* Timer settings styles */
.timer-settings {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.setting {
  background-color: rgba(76, 165, 175, 0.8);
  border: 5px solid #4ca5af92;
  box-sizing: border-box;
  box-shadow: #000000;
  border-radius: 200px;
  padding: 20px;
  margin: 0 10px;
}

.setting-title {
  font-size: 18px;
  color: white;
}

.setting-label {
  font-weight: bold;
  font-size: 14px;
  color: white;
}

/* Timer display styles */
.timer-display {
  margin-bottom: 20px;
}

.timer {
  font-size: 48px;
  font-weight: bold;
  background-color: rgba(76, 165, 175, 0.8);

  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
}

.timer.running {
  background-color: #38019d;
}
.timer-text {
  display: inline-block;
  color: white;
}

/* Timer controls styles */
.timer-controls {
  display: flex;
  justify-content: center;
}

.control-button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.time {
  color: white;
}

.nav {
  background-color: #2196f3;
  height: max-content;
}

.start-button {
  background-color: #4ca5af;
  color: #fff;
}

.start-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pause-button {
  background-color: #38019d;
  color: #fff;
}

.pause-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.reset-button {
  background-color: #2196f3;
  color: #fff;
}

.reset-button:hover {
  background-color: #1976d2;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .timer-settings {
    flex-direction: column;
    align-items: center;
  }

  .setting {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(76, 165, 175, 0.8);
  color: white;
  padding: 5px 20px;
}

.app-title {
  color: white;
  font-size: 24px;
}

.nav-links {
  display: flex;
}

.nav-button {
  background-color: transparent;
  font-weight: 600;
  color: white;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.nav-button:hover {
  text-decoration: wavy;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
