.stats-container {
  background-color: rgba(76, 165, 175, 0.8);
  border: 5px solid #4ca5af92;
  box-sizing: border-box;
  box-shadow: #000000;
  border-radius: 100px;
  padding: 20px 20px;
  margin: 250px auto;
  width: fit-content;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.stats-title {
  color: white;
  font-size: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
}
